/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #2325EB;
  --clr-primary-2: #3FA6F2;
  --clr-primary-3: #44DBC5;
  --clr-primary-4: #3FF26A;
  /* primary/main color */
  --clr-primary-5: #81EB28;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: #707070;
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --clr-gold: #c59d5f;
  --ff-primary: 'PT Serif', Roboto, 'Segoe UI', serif;
  --ff-secondary: 'Open sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;

}
ul {
  list-style-type:disc;
  margin-bottom: 1.25rem;
  margin-left: 1rem;
  color: white;
  font-weight: bolder;
}
a {
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-secondary);
}
h1 {
  display: block;
  font-size: 2rem;
  margin-top: 0.5rem;
  text-align: center;
}
h2 {
  color: var(--clr-black);
  font-size: 2rem;
}
h3 {
  color: #fff;
  font-size: 1.25rem;
}
h4 {
  color: var(--clr-white);
  font-size: 1rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
/* section */

.section-center {
  position: absolute;
  top:45%;
  left:50%;
  transform: translate(-50%, -50%);
  padding-top: 12%;

  max-width: 70%;
  display: grid;
  margin: 0 auto;
  max-width: 800px;
  grid-template-columns: 1fr;
  place-items: center;
}

main {
  min-height: 100vh;
}

/*
=============== 
Headline
===============
*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15%;
  display: block;
  justify-content: center;
  z-index: 10;
  background:rgba(0, 0, 0, 0.8);
  color: white;
}

.title {
  font-family:'PT Serif';
  font-weight: 900;
  font-size: 2rem;
  line-height: 3rem;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
=============== 
Carousel
===============
*/

.carousel-container {
  height: 100vh;
}

.countdown-container {
  padding: 4% 3% 3% 3%;
  margin: 0% 5%;
  min-width: 100%;
  border-radius: 1rem;
  position: relative;
  z-index: 50;
  background: linear-gradient(
    to left bottom,
    rgba(53, 53, 53, 0.6),
    rgba(80, 80, 80, 0.8)
  );
  backdrop-filter: blur(0.4rem);
}

.carousel-slide {
  overflow: hidden;
  display: flex;
  height: 100vh;
  width: 500%;
}

.full-bleed {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#step-one-img {
  background-image: url("./imgs/two-walkers.jpg");
}

#step-two-img {
  background-image: url("./imgs/six-or-more.jpg");
}

#step-three-img {
  background-image: url("./imgs/boxing.jpg");
}

#step-four-img {
  background-image: url("./imgs/indoor-bar.jpg");
}

#step-five-img {
  background-image: url("./imgs/festival.jpg");
}

.controls {
  position: absolute;
  top: 50%;
  width: 100vw;
}

#prev,
#next {
  padding: 2rem;
  height: 6rem;
  width: 6rem;
  z-index: 10;
}

#prev {
  float: left;
  cursor: pointer;
}

#next {
  float: right;
  cursor: pointer;
}

.hide {
  opacity: 0;
  cursor: default !important;
}

/*
=============== 
Carousel text
===============
*/

.info {
  border-radius: 1rem;
  padding: .5rem;
}

.text-info {
  margin: 2% 0 0 2%;
}

.info h3 {
  text-transform: capitalize;
  margin: 1rem 1rem;
}
.info ul {
  color: var(--clr-white);
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: .5rem 1rem;

}

.live-data-container {
  width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 1rem;
}

.temp-info,
.sunset-info {
  margin: auto 0;
  line-height: 1rem;
}

.temp,
.sunset {
  display: flex;
  width: 16vw;
  max-width: 12rem;
  padding: 3px;
  /* border: #eee 1px solid;
  border-radius: 3px; */
}

.sunset p,
.temp p {
  color: white;
  flex: 1;
  font-size: 1rem;
  font-weight: bold;
  overflow-wrap: break-word;
  text-align: right;
}

.thermometer-icon,
.sunset-icon {
  height: 1.5rem;
  max-width: 5rem;
  min-width: 4rem;
  margin: auto 0;
  text-align: left;
}


.small-copy {
  font-size: 0.65rem;
  margin: 0;
}

.underline {
  border-bottom: 0.4rem solid #56dbcc;
  height: 0.1rem;
  width: 45%;
  margin: 1rem;
}


/*
=============== 
Countdown Timer
===============
*/
.date {
  color: var(--clr-grey-5);
  font-size: 0.85rem;
}

.info ul {
  margin: 3% 2%;
  font-size: 1rem;
}

.deadline {
  padding: 1rem;
  margin: 1rem 0 0 0;
  display: flex;
  justify-content: center;
}
.deadline-format {
  background: var(--clr-black);
  color: var(--clr-white);
  margin: 0 0.5rem;
  border-radius: 5%;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  text-align: center;
}

.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
.deadline h4:not(.expired) {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  letter-spacing: var(--spacing);
}


@media only screen and (max-width: 1000px) {
  header {
    max-height: 10vh;
  }
  .title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-bottom: 0;
    margin: 0;
  }

  /* .section-center {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  } */
  .countdown-container {
    padding: .5rem;
  }
  .underline {
    margin: 0;
    padding: 0;
  }
  #prev,
  #next {
  padding: 2rem 0;
  height: 5rem;
  width: 5rem;
  z-index: 10;
  }

  .text-info ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0;
  }

  .text-info ul {
    margin-left: 2rem;
    margin-right: 1rem;
  }

  ul li{
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  .deadline {
    margin-top: 0;
  }

  .deadline-format {
    width: 4rem;
    height: 4rem;
    margin: 0.1rem;
  }
  .deadline-format span {
    font-size: 0.5rem;
  }
  .deadline h4:not(.expired) {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .text-info {
    padding-bottom: 1rem;
  }
  .live-data-container{
    padding-top: 0;
  }
  .sunset,
  .temp {
    max-width: 14rem;
  }
  .sunset p,
  .temp p {
    color: white;
    flex: 1;
    font-size: small;
    margin: auto;
    overflow-wrap: break-word;
  }
  .small-copy {
    font-size: 0.5rem;
  }

  .temp-info,
  .sunset-info {
    padding-left: 0.4rem;
    line-height: 0.7rem;
  }
  .sunset-icon,
  .temp-icon {
    padding: 0 2%;
  }
  .bottom-space {
    min-height: 2%;
  }
}

@media only screen and (max-width: 800px) {
  .live-data-container{
    width: 100%;
  }
  .info ul {
    font-size: 1rem;
    line-height: 2rem;
    margin: 1.5rem 1rem;
  
  }  
  .temp,
  .sunset {
    font-size: x-small;
    width: 20vw;
  }
  .small-copy {
    font-size: 0.4rem;
  }
}

@media screen and (max-width: 600px) {

  .temp,
  .sunset {
    font-size: x-small;
    width: 30vw;
  }
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
  .section-center {
    width: 95%;
  }
  .countdown-container {
    width: 90%;
    /* top: 10%; */
  }
  .title {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .section-center {
    width: 95%;
  }
  .countdown-container {
    width: 95%;
  }
}